.otherProduct {
  background: $whiteBackground;
  height: 540px;

  .wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    
    .card {
        background: $gris;
        border-radius: 10px;
        width: 354px;
        height: 375px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden; 
      
        img {
            object-fit: cover;
            width: 150px;
            height: 50%; 
            flex: 1;
        }
      
        .product-infos {
          background: $blackVariant;
          padding: 45px 25px;
          border-radius: 0 0 10px 10px;
          margin-top: 15px;
          width: 100%;
          height: 50%; 
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
      
          h3 {
            font-size: 1.1rem;
            color: #fff;
            margin-bottom: 5px;
          }
      
          p {
            color: $principalColor;
            font-size: 0.8rem;
            margin-bottom: 15px;
          }
      
          a {
            color: #fff;
            font-size: 0.9rem;
            background: $principalColor;
            border-radius: 10px;
            padding: 16px 32px;
            margin-bottom: 25px;
            width: 100%;
            text-align: center;
            letter-spacing: 1px;
          }
        }
      }
      
  }
}
